<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timeoutSeconds</key>
	<integer>240</integer>
	<key>maxRetries</key>
	<integer>3</integer>
	<key>testsDirectory</key>
	<string></string>
	<key>defaultModel</key>
	<string>qwen3-coder:30b</string>
	<key>tokenLimit</key>
	<integer>32000</integer>
	<key>documentationDeclarations</key>
	<array>
		<string>func</string>
		<string>class</string>
		<string>struct</string>
		<string>init</string>
		<string>enum</string>
		<string>protocol</string>
	</array>
</dict>
</plist>
